 body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background: url(images/background_img.jpg)left top fixed;
    background-size: cover;
 }

 .container-camp {
    max-width: 960px;
 }

 .logo {
    width: 180px;
    height: auto;
    display: block;
    margin: auto;
    /* 上下：0px、左右：自動（中央揃え）*/
 }

 .tagu {
    font-family: "Rounded Mplus";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 40px;
    color: #E63946;
 }

 .container-camp.tomato {
    background-color: #FFF9F0;
 }

 .container-camp.entry {
    background-color: #6cc1AE;
 }

 .container-camp.who {
    background-color: #FFF9F0;
 }

 .container-camp.footer {
    background-color: #6cc1AE;
    color: #FFFFFF;
 }

 .card-footer{
   margin-bottom: 0px;
 }

.img-character{
  width: 200px;
  height: auto;
}
