 body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background: url(images/background_img.jpg)left top fixed;
    background-size: cover;
 }

 .container-camp {
    max-width: 960px;
 }

 .logo {
    width: 180px;
    height: auto;
    display: block;
    margin: auto;
    /* 上下：0px、左右：自動（中央揃え）*/
 }

 .tagu {
    font-family: "Rounded Mplus";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 40px;
    color: #E63946;
 }

 .container-camp.tomato {
    background-color: #FFF9F0;
 }

 .container-camp.entry {
    background-color: #6cc1AE;
 }

 .container-camp.who {
    background-color: #FFF9F0;
 }

 .container-camp.footer {
    background-color: #6cc1AE;
    color: #FFFFFF;
 }

 .card-footer{
   margin-bottom: 0px;
 }

  
 .charactertomato {
  position: fixed; 
  bottom: 40px;
  left: 100%;
  transform: translateX(0);
  animation: slideIn 3s ease-out forwards;
  z-index: 1000;
}

.img-fluid-character {
  width: 200px; /* 必要に応じて調整 */
  height: auto;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

/* 初期状態：非表示 */
.hidden { 
  opacity: 0;
  transform: translateY(960px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}


/* アニメーションの定義 */
@keyframes slideIn {
  0% {
    left: 100%;
  }
  100% {
    left:50%;
   transform: translateX(-600%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




  
 
